#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  --main-color: #2c2c68;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.header{
  flex: 1;
  font-weight: 600;
}
.buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex:2 ;
  gap: 10px;
}
.buttons *{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(66, 66, 101);
  padding: 10px;
  font-size: 3rem;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  transition:  background .4s ease ;
}
.link{
  text-decoration: none;
}
.link:visited{
  color: white;
}
.buttons *:hover{
  background-color: var(--main-color);
}
.onboarding{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}
.onboarding h1{
  font-weight: 600;
}
.question{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--main-color);
  padding: 15px 0 15px 10px;
  text-align: justify;
  margin-bottom: 20px;
  cursor: pointer;
}
.question *{
  width: 100%;
}
.navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media (max-width:800px) {
  .main{
    flex-direction: column;
  }
}